function Main.sum 1
push argument 0
push argument 1
add
pop local 0
push local 0
return
function Main.main 2
push constant 0
call String.new 1
call Unix.readInt 1
pop local 0
push constant 0
call String.new 1
call Unix.readInt 1
pop local 1
push local 0
push local 1
call Main.sum 2
call Unix.printInt 1
pop temp 0
call Unix.println 0
pop temp 0
push constant 0
return
